<section id="noticias" class="padded">
    <div class="container">
      <h2>EVENTOS</h2>
      <div class="row">
        <article class="col">
          <h3>VISITA GUIADAS</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni beatae eum impedit enim expedita eligendi
            ipsa natus in, unde quas, fuga molestiae minima provident facilis laudantium rerum! Consectetur, suscipit
            sequi autem, accusantium obcaecati id repellendus tenetur soluta harum eligendi non?</p>
          <p>Adipisci molestiae voluptatem excepturi ipsum magni laborum illum voluptate, dolores odit sunt iste quia
            accusantium quisquam quam quasi pariatur explicabo qui expedita delectus! Illo, necessitatibus? Vitae
            consequatur pariatur impedit perspiciatis quos nisi sint et explicabo, id dolorum, fuga rem quod!</p>
        </article>
        <article class="col">
          <h3>DESFILE MILITAR</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate eius maxime soluta est praesentium hic
            quae quia fugiat ut deserunt necessitatibus tempora voluptates unde ullam, similique molestias sit sequi
            delectus voluptatum itaque excepturi fuga illum. Possimus at cumque molestiae quidem?</p>
          <p>Adipisci numquam, eligendi nulla officia libero itaque et? Omnis odit consequuntur laudantium suscipit
            ratione voluptates a quisquam dolores optio? Minima officia voluptatum repudiandae repellendus provident.
            Delectus sequi animi, cumque amet et, eveniet nisi aliquam vel a aliquid corrupti ex? Est?</p>
        </article>
        <article class="col">
          <h3>NATACIÓN AGUAS ABIERTAS</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium dolor illo nostrum placeat magnam
            adipisci tempora fugiat, voluptatum quo laborum optio! Dolorem eum repudiandae ullam eius quae distinctio
            debitis? Fugiat assumenda necessitatibus consectetur dolorem fugit, temporibus quaerat natus voluptas
            explicabo?</p>
          <p>Natus quasi sequi nemo, expedita tempora ipsum placeat aut culpa hic maxime impedit similique laudantium
            nulla voluptas libero praesentium. Ad nobis praesentium ut vitae fugit voluptate ducimus hic enim saepe
            distinctio porro esse excepturi perspiciatis, tempore incidunt soluta pariatur architecto.</p>
        </article>
      </div>
    </div>
  </section>