<section id="nosotros" class="padded">
    <div class="container">
      <h2>MISIÓN</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque eligendi, nemo ab aliquid quidem libero quam
        voluptate animi officiis magni velit. Assumenda repellendus labore ex nemo quae animi. Illum, at laboriosam,
        corporis a odio distinctio perferendis ipsum qui optio reprehenderit, tenetur ex est inventore non perspiciatis!
        Dignissimos cupiditate, eaque ratione natus voluptas modi. Amet iusto sapiente laboriosam unde obcaecati vel eius
        cupiditate suscipit voluptates consequatur, assumenda distinctio molestiae velit aperiam quaerat doloremque rerum
        pariatur. Architecto reiciendis, eveniet corporis non itaque dolor commodi iusto odit ex iste facere quos
        consectetur rem dicta, magni, praesentium vitae accusamus! Laborum tempora sit minima animi architecto repellendus
        nisi facilis. Distinctio cum exercitationem ea harum, perferendis molestiae doloribus quibusdam minus, magnam
        expedita commodi officiis nulla eius?</p>
  
  
    </div>
  </section>
