h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: -50px;
}



pagination-controls{
  margin: 50px;
  
 
}

#btnletf{
 margin-left: 100px;
}


#btnrigh{
  margin-left: 400px;
}


th{
  background-color: #15AB80;
}
